
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Domestic Repairs</h1>
			<a href="/logout">Log out</a><a href="/new">Add a new issue</a><a href='/work'>Available work</a>
		</header>
        <main>
            <h3>Issues</h3>
            <table>
                <tr>
                    <th>Type of appliance</th>
                    <th>Summary</th>
                    <th>Date of issue</th>
                    <th>Status</th>
                </tr>
                {{#each records}}
                    <tr>
                        <td>{{this.applianceType}}</td>
                        <td>{{this.faultSummary}}</td>
                        <td>{{this.dateCreated}}</td>
                        <td>{{this.status}}</td>
                    </tr>   
                {{/each}}
            </table>		
        </main>
	</body>
</html>
