
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Add new issue</h1>
			<a href="/logout">Log out</a><a href="/new">Add a new issue</a>
		</header>
        <main>
            {{#if authorised}}
                <p>Logged in as <strong>{{authorised}}</strong></p>
            {{/if}}
            <form action="/new" method="post" enctype="multipart/form-data">
                <p>
                    <label for="name">Type of appliance</label><br />
                    <datalist for='applianceType' id='appliancetype'>
                        <option value="washing machine">
                        <option value="cooker">
                        <option value="freezer">
                        <option value="refrigerator">
                        <option value="clothes dryer">
                        <option value="microwave">
                    </datalist>
                </p>
                <p>
                    <label for='age'>Age</label><br />
                    <input type="range" min="1" max="10" value="{{body.age}}" class="slider" id="myRange">
                </p>
                <p>
                    <label></label>
                </p>
            </form>
        </main>
	</body>
</html>
