
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Domestic Repairs</h1>
			<a href="/logout">Log out</a><a href="/new">Add a new issue</a>
            <a href='/home'>Home</a>
		</header>
	<main>
        <h3>Available Work</h3>
        
        <table>
            <tr>
                <th>Approximate Distance away</th>
                <th>Type of appliance</th>
                <th>Summary</th>
                <th>Budget</th>
            </tr>
            
        </table>
	</main>
	</body>
</html>
